body{
  background-color: #FFD6D6;
  margin: 0px 0px auto;
}
/*Style Navbar*/
.menu{
    background-color: #D2A186;
}
/*Imagen del logo*/
.logo_texto{
  width: 150px;
  height: 50px;
}
/*Botones de las etiquetas*/
.btn{
  background-color: #FFDEEC;
  color: #000000;
}
/*Darle otro color al boton al pasar el mouse*/
button.btn:hover {
  background-color: #BB4568;
  color: white;
}

.publicacionFondo{
  background-color: #FFF4F4;
}
.publicacion{
  background-color: rgba(211, 141, 101, 0.28);
}


.card{
    position: relative;
    width: 200px;
    height: 250px;
    margin: 20px;
    display: inline-block;
  border: none;

}

.card_post{
  background: none;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
  display: flex;
    justify-content: center;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000000;
}
.card .front img{
    position: absolute;
    width: auto;
    height: auto;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0,.4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #FFF4F4;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.card .back .link{
    border-top: solid 1px beige;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: antiquewhite;
}
.card:hover .front{
    transform: perspective(600px) rotateX(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateX(360deg);
}
img{
}
.sombreado{
  background-color: rgba(225, 82, 116, 0.6);
  border: none;
}
.sombreado h7{
  color: #000000;
}
.text_publicacion{
  font-size: 1rem;
}
.lista{
width: 50px;
height: 40px;
}
.btn_lista{
  border: none;
  background: none;
}
li{
  color: black;
  font-size: 0.9rem;
}
 ul {
    list-style-type: circle;
  }
.emperador {
width:40px;
height:40px;
}
.btn_verReceta{
  background-color: rgba(225, 82, 116, 0.5);
  color: #000000;
}
a.btn_verReceta:hover{
    background-color: #BB4568;
  color: white;
}