body{font-family: "Comic Sans MS", "Comic Sans", sans-serif;
} 

.menu{
    background-color: #D2A186;
}
a.iniciar{
   --bs-btn-bg: transparent;
    background-color: #EDB7B7;
}
.logo_texto{
  width: 150px;
  height: 50px;
}