body{font-family: "Comic Sans MS", "Comic Sans", sans-serif;
} 
.my-custom-size{
  font-size: 20px;
}
.menu{
    background-color: #D2A186;
}
a.iniciar{
   --bs-btn-bg: transparent;
    background-color: #EDB7B7;
}
.logo_texto{
  width: 150px;
  height: 50px;
}
.iniciarSesion{
   background-color: #FFD6D6;
  height: 625px;
}
.enlaceLogo{
  width:40%;
}
button.botonIniciar{
  background-color:#BB4568;
}
button.botonIniciar:hover {
  background-color: #BB4568;
}
a.botonCrearCuenta{
   background-color:#BB4568;
}
a.botonCrearCuenta:hover {
  background-color: #BB4568;
}

